<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/ionicons.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower&display=swap" rel="stylesheet">
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
</head>
    <body>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
              <div class="navbar-header">
                <a class="navbar-brand" href="#">Inggris senang-senang</a>
              </div>
              <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
              </ul>
            </div>
        </nav>
        <div class="container course-hehe">
            <div class="row">
                <div class="col-sm-2">

                </div>
                <div class="col-sm-10">
                    <div class="row">
                        <div class="col-sm-2">
                            <i class="ion-ios-people-outline icon-courses"></i>
                        </div>
                        <div class="col-sm-10">
                            <h2>Simple Present Tense</h2>
                            <p>
                                THE SIMPLE PRESENT TENSE IS USED:<br>
                                To express habits, general truths, repeated actions or unchanging situations, emotions and wishe,<br>
                                To give instructions or directions,<br>
                                To express fixed arrangements, present or future
                            </p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-2">
                            <i class="ion-ios-people-outline icon-courses"></i>
                        </div>
                        <div class="col-sm-10">
                            <h2>Simple Past Tense</h2>
                            <p>
                                The simple past is used to talk about a completed action in a time before now. Duration is not important. The time of the action can be in the recent past or the distant past.
                                You always use the simple past when you say when something happened, so it is associated with certain past time expressions
                            </p>
                        </div>
                    </div>


    
                </div>
            </div>


        </div>

        <footer class="container-fluid text-center">
            <p class="footer">2020 Inggris senang-senang Inc</p>		
        </footer>
        
    </body>
</html>