<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/ionicons.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower&display=swap" rel="stylesheet">
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
</head>

<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">Inggris senang-senang</a>
          </div>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
          </ul>
        </div>
    </nav>

    <div class="container course-hehe">
        <div class="row">
            <div class="col-sm-6 course-content">
                <div class="col-sm-12 text-center">
                    <i class="ion-ios-people-outline icon-courses color-green"></i>
                </div>
                <div class="col-sm-12">
                   <h2>Simple Present Tense</h2>
                   <p>
                       Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta error consectetur quam explicabo quia veniam soluta, id alias, quidem molestias excepturi? Enim delectus neque dolorum nisi culpa laboriosam optio ex?
                   </p>
                </div>
            </div>
            <div class="col-sm-6 course-content">
                <div class="col-sm-12 text-center">
                    <i class="ion-ios-people-outline icon-courses color-green"></i>
                </div>
                <div class="col-sm-12">
                   <h2>Simple Present Tense</h2>
                   <p>
                       Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur aspernatur nihil repellendus error accusamus quae quia aliquam temporibus sapiente? Nihil veritatis, natus consectetur praesentium ducimus vitae facere fugit quos nulla.
                       Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quas quos quod necessitatibus numquam, amet facere soluta, omnis ratione adipisci at nulla perferendis quidem velit suscipit molestiae harum? Fuga, omnis unde!
                       Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta error consectetur quam explicabo quia veniam soluta, id alias, quidem molestias excepturi? Enim delectus neque dolorum nisi culpa laboriosam optio ex?
                   </p>
                </div>
            </div>
            <div class="col-sm-6 course-content">
                <div class="col-sm-12 text-center">
                    <i class="ion-ios-people-outline icon-courses color-green"></i>
                </div>
                <div class="col-sm-12">
                   <h2>Simple Present Tense</h2>
                   <p>
                       Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta error consectetur quam explicabo quia veniam soluta, id alias, quidem molestias excepturi? Enim delectus neque dolorum nisi culpa laboriosam optio ex?
                   </p>
                </div>
            </div>
            <div class="col-sm-6 course-content">
                <div class="col-sm-12 text-center">
                    <i class="ion-ios-people-outline icon-courses color-green"></i>
                </div>
                <div class="col-sm-12">
                   <h2>Simple Present Tense</h2>
                   <p>
                       Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta error consectetur quam explicabo quia veniam soluta, id alias, quidem molestias excepturi? Enim delectus neque dolorum nisi culpa laboriosam optio ex?
                   </p>
                </div>
            </div>
        </div>
    </div>

    <footer class="container-fluid text-center">
        <p class="footer">2020 Inggris senang-senang Inc</p>		
    </footer>

</body>