<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>English Senang-Senang</title>
    <%-include("partial/source-head")%>
</head>
<body>
    <%-include("partial/navbar",{session:session})%>
    <div class="container course-hehe">
        <div class="row">
            <h2><%=course.name%></h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde cupiditate labore explicabo repudiandae quia, tenetur aliquid quibusdam aut, similique consequuntur aliquam accusantium commodi illum! Animi rerum earum explicabo unde? Doloribus.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit expedita rerum ullam modi adipisci sunt minima iste, fuga consequuntur laboriosam dolore corrupti quibusdam alias provident neque inventore ab quisquam cumque?
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magni amet dolore beatae. Illum facilis vero consequuntur fugiat doloribus totam, porro quisquam modi quia, reprehenderit eum aperiam necessitatibus corrupti magni voluptatem!
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloribus, ratione nisi optio culpa officiis recusandae incidunt. Veniam, perspiciatis? Corrupti eligendi nostrum iure autem, rerum natus voluptatibus corporis nihil tempore molestiae?
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui pariatur maiores autem ullam rerum itaque, hic velit voluptate, distinctio odit tempora corrupti aut odio voluptatibus iure accusantium voluptas, neque facilis?
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati architecto facere dolorem fuga neque, delectus, cumque totam modi, quis magnam numquam? Consequuntur odio, quam aliquam corporis doloribus natus. Sapiente, quo?
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reprehenderit neque eius nobis soluta ipsam odit ratione dignissimos deserunt minus, veniam iusto beatae sint illo dolore accusamus, animi adipisci quo incidunt.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt ullam debitis consequuntur? Ullam iure soluta facilis inventore odit reiciendis consectetur voluptatum adipisci, aliquam ratione laboriosam vel voluptates vero illo at.
            </p>
            <button class="btn btn-success btn-block">Ambil Kursus ini</button>
        </div>
    </div>

    <%-include("partial/footer")%>
</body>
</html>